/**
 * ==================================================
 * Custom-Stylesheet: css_overlay.css
 *
 * @author		Jenny Pilz
 * @date		2015/01
 * @version		1.2
 * ================================================== */

/*----------------------------
	Lightbox allgemein
-----------------------------*/

#overlay {
    position: fixed;
    z-index:199;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor:pointer;
}

.overlay_bg {
    background-color:#141415;
    -ms-filter: "Alpha(Opacity=95)";
    filter:alpha(opacity=95);
    -moz-opacity: 0.95;
    opacity: 0.95;
}

#light_box {
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top:0;
    width: auto;
    z-index: 10000;
    background-color: #c4c4c3;
    border:7px solid #c4c4c3;
}

#light_box img,
#light_box video{
    position: absolute;
    top: 0;
    left: 0;
}

#light_box p {
    position: absolute;
    bottom:5px;
    left:2px;
    margin:0;
}

figure#image div {
    overflow: hidden;
}

/*----------------------------
	Lightbox Canvas
-----------------------------*/

canvas {
    position: relative;
    background-color: lightgrey;
    margin-top: 7px;
}

figure#original,
video + canvas#canvas_orig {
    margin-top: 25px;
}

figure#original img {
    max-width: 100%;
    min-height: 100%;
    height: auto;
    margin: auto;
}

#pult {
    background-color: darkgrey;
    position: absolute;
    top: -7px;
    height: auto;
    text-align: center;
}

#pult button {
    float: left;
    color: darkgrey;
    margin-top: 15px;
    margin-left: 5px;
}

#pult button:first-child {
    margin-left: 15px;
}

#pult img {
    width: 26px;
    height: 26px;
}

input {
    width: 90%;
    margin-top: 4px;
    background-color: lightgray;
    color: #5E6039;
}

input:first-child {
    margin-top: 8px;
}

input:last-child {
    margin-bottom: 8px;
}

